pandas
scipy
PyHDFS
fonttools
python-dateutil
pysnowflake
kafka-python
requests
Cython
findspark
h5py
hdfs
lxml
Pillow
ortools
openpyxl
networkx
kfp==1.0.4
cos-python-sdk-v5
chinese_calendar
xgboost
jupyter
